<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common_head(~{::title},~{})">
	<title>Update Book</title>
</head>
<body>
<div th:insert="~{header :: navigation}"></div>
<div class="container">
	<div class="row">
		<h1>Update Book</h1>
		<form th:action="@{/save}" th:object="${book}" method="post">
		<input type="hidden" th:field="*{username}" id="username">
		<input type="hidden" th:field="*{id}" id="id">
		<table class="table">
			<tr>
				<td>Title:</td>
				<td><input type="text" th:field="*{title}" id="title" placeholder="Title" /> <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><input type="text" th:field="*{author}" id="author" placeholder="Author" /> <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span></td>
			</tr>
			<tr>
				<td>Language:</td>
				<td><input type="text" th:field="*{language}" id="language" placeholder="Langauge" /></td>
			</tr>
			<tr>
				<td>Pages:</td>
				<td><input type="text" th:field="*{pages}" id="pages" placeholder="Pages" /></td>
			</tr>
		</table>
		<button type="submit">Update</button>
	</form>
	<form action="/">
		<button type="submit">Cancel</button>
	</form>
	</div>
</div>
</body>
</html>