@charset "UTF-8";
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
header {
	flex-basis: 100%;
}
footer {
	flex-basis: 100%;
}
nav {
	flex-basis: 10em;
}
aside {
	flex-basis: 12em;
}
main {
	flex: 1 0 500px;
}
.menu a {
	background-color: LightGrey;
	color: black;
	display: block;
	padding: 12px;
}
.menu a:hover {
	background-color: grey;
}
.menu a:active {
	background-color: DarkBlue;
	color: white;
}
th, td {
	padding: 10px;
}
th {
    background-color: grey;
	padding: 12px;
}