<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common_head(~{::title},~{})">
	<title>Add Book</title>
</head>
<body>
<div th:insert="~{header :: navigation}"></div>
<div class="container">
	<div class="row">
		<div class="col">
		<form th:action="@{/save}" th:object="${book}" method="post">
		<input type="hidden" th:field="*{username}" id="username">
			<table class="table">
				<tbody>
				<tr>
					<td>Title:</td>
					<td><input type="text" th:field="*{title}"/></td>
					<td><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></td>
				</tr>
				<tr>
					<td>Author:</td>
					<td><input type="text" th:field="*{author}"/></td>
					<td><span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span></td>
				</tr>
				<tr>
					<td>Language:</td>
					<td><input type="text" th:field="*{language}"/></td>
				</tr>
				<tr>
					<td>Pages:</td>
					<td><input type="text" th:field="*{pages}"/></td>
				</tr>
				</tbody>
			</table>
			<button type="submit">Add</button>
		</form>
		<form action="/">
			<button type="submit">Cancel</button>
		</form>
		</div>
	</div>
</div>
</body>
</html>