<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-head :: common_head(~{::title},~{})">
	<title>Bookshelf</title>
</head>
<body>
<div th:insert="~{fragments/header :: navigation}"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Bookshelf</h1>
		    <table class="table" th:unless="${books == null}">
		        <thead>
		        <tr>
		            <th>Title</th>
		            <th>Author</th>
		            <th>Language</th>
		            <th>Pages</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="book: ${books}">
		            <td><a th:href="@{/books/{id}(id=${book.id})}"><span th:text="${book.title}" /></a></td>
		            <td th:text="${book.author.name}"></td>
		            <td th:text="${book.language}"></td>
		            <td th:text="${book.pages}"></td>
		            <td><a th:href="@{/books/edit{id}(id=${book.id})}"><span th:text="Edit" /></a></td>
		            <td><a th:href="@{/books/delete{id}(id=${book.id})}"><span th:text="Delete" /></a></td>
		        </tr>
		        </tbody>
		    </table>
		    <br>
		    <table class="table" th:unless="${currentlyReading == null}">
			<legend>Currently Reading</legend>
				<thead>
					<th>Title</th>
					<th>Language</th>
					<th>Pages</th>
				</thead>
				<tbody>
					<tr th:each="log: ${currentlyReading}">
						<td th:text="${log.book.title}"></td>
						<td th:text="${log.book.language}"></td>
						<td th:text="${log.book.pages}"></td>
					</tr>
				</tbody>
		    </table>
		    <br>
		    <table class="table" th:unless="${#lists.isEmpty(languages)}">
		    <legend>Reading Summary</legend>
				<thead>
					<tr>
						<th>Language</th>
						<th>Total Pages</th>
					</tr>
				</thead>
		    	<tbody>
		    		<tr th:each="language: ${languages}">
		    			<td th:text="${language.key}"></td>
		    			<td th:text="${#aggregates.sum(language.value.![book.pages])}"></td>
		    		</tr>
		    	</tbody>
		    </table>
			<br>
		    <table class="table" th:unless="${#lists.isEmpty(languages)}">
		    	<tbody>
		    		<tr>
		    			<td>Total Books</td>
		    			<td th:text="${totalBooks}"></td>
		    		</tr>
		    		<tr>
		    			<td>Total Pages</td>
		    			<td th:text="${totalPages}"></td>
		    		</tr>
		    	</tbody>
		    </table>
		</div>
	</div>
</div>
</body>
</html>