<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common_head(~{::title},~{})">
	<title>View Book</title>
</head>
<body>
<div th:insert="~{header :: navigation}"></div>
<div class="container">
	<div class="row">
		<h1>View Book</h1>
			<form th:object="${book}" method="post">
			<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Language</th>
					<th>Pages</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="*{title}"></td>
					<td th:text="*{author.name}"></td>
					<td th:text="*{language}"></td>
					<td th:text="*{pages}"></td>
				</tr>
			</tbody>
			</table>
			<table class="table">
				<tr>
					<td><a th:href="@{/editBook/{id}(id=${book.id})}"><span>Edit</span></a></td>
					<td><a th:href="@{/deleteBook/{id}(id=${book.id})}"><span>Remove</span></a></td>
					<td><a th:href="@{/addLog/{id}(id=${book.id})}"><span>Add reading log</span></a></td>
				</tr>
			</table>	
		</form>
		<table class="table" th:unless="${logs == null}">
			<thead>
				<tr>
					<th>Start</th>
					<th>Finish</th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="log: ${logs}">
					<td th:text="${#temporals.format(log.start,'MM-dd-yyyy')}" />
					<td th:text="${#temporals.format(log.finish,'MM-dd-yyyy')}" />
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>