<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-head :: common_head(~{::title},~{})">
	<title>Add Log</title>
</head>
<body>
<div th:insert="~{header :: navigation}"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<table class="table">
			<form th:action="@{/saveLog}" th:object="${book}" method="post">
			<legend>Add New Log</legend>
			<input type="hidden" th:field="*{username}" id="username">
			<input type="hidden" th:field="*{id}" id="id">
			<input type="hidden" th:field="*{title}" id="title">
			<input type="hidden" th:field="*{author}" id="author">
			<input type="hidden" th:field="*{language}" id="language">
			<input type="hidden" th:field="*{pages}" id="pages">
				<tbody>	
					<tr>
						<td th:text="*{title + ' by ' + author}" colwidth="2"></td>
					</tr>
					<tr>
					<div class="form-group input" th:class="${#fields.hasErrors('start')} ? 'control-group input error'">
						<td><p>Start:</p></td>
						<td>
							<input id="start" class="form-control" type="date" th:field="*{{start}}" required autofocus="autofocus" />
							<span th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></span>
						</td>
					</div>
					</tr>
					<tr>
					<div class="form-group input" th:class="${#fields.hasErrors('finish')} ? 'control-group input error'">
						<td><p>Finish:</p></td>
						<td>
							<input id="finish" class="form-control" type="date" th:field="*{{finish}}" />
							<span th:if="${#fields.hasErrors('finish')}" th:errors="*{finish}"></span>
						</td>
					</div>
					</tr>
					<tr>
						<td style="text-align:center" colspan="2"><button type="submit" class="btn btn-success">Add Log</button></td>
					</tr>
				</tbody>
				</form>
			</table>
		</div>
	</div>
</div>
</body>
</html>