<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common_head(~{::title},~{})">
	<title>View Logs</title>
</head>
<body>
<div th:insert="~{header :: navigation}"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<h1>View Logs</h1>
			<table class="table" th:unless="${#lists.isEmpty(logs)}">
				<thead>
					<th>Title</th>
					<th>Start</th>
					<th>Finish</th>
					<th>Status</th>
				</thead>
				<tbody>
				<tr th:each="log: ${logs}">
					<td><a th:href="@{/view/{id}(id=${log.book.id})}"><span th:text="${log.book.title}" /></a></td>
					<td th:text="${#temporals.format(log.start, 'MM-dd-uuuu')}"></td>
					<td th:text="${#temporals.format(log.finish, 'MM-dd-uuuu')}"></td>
					<td th:text="${log.status.value}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>